body { color: black; font-family: Verdana; text-align:center; }

.botonArmario {
  position: absolute;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: none;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}
#botonA1 {
  top: 14%;
  left: 31%;
  padding: 4px 18px;
}
#botonA2 {
  top: 15%;
  left: 32%;
  padding: 6px 42px;
  border-radius: 15px;
}
#botonA3 {
  top: 28.5%;
  left: 35.5%;
  padding: 9px 27px;
}
#botonA4 {
  top: 31.3%;
  left: 31%;
  padding: 6px 24px;
}
#botonA5 {
  top: 47.3%;
  left: 30.6%;
  padding: 8.2px 19px;
}

.botonArmario .btn:hover {
    background-color: black;
  }

  